<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <span>Name: </span>
      <span>{{application.name}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <span>Is bookmarked: </span>
      <span>{{application.bookmarked}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <span>Position: </span>
      <span>{{application.position}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <span>Applied On: </span>
      <span>{{application.applied}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <span>Years of Experience: </span>
      <span>{{application.experience}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto" *ngFor="let day of application.availability | keyvalue">
      {{day.key}}:{{day.value}}
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto" *ngFor="let question of application.questions">
      {{question.text}}
      {{question.answer}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <button (click)="bookmarkApplication(application)">Bookmark Application</button>
    </div>
  </div>
</div>