
:host{
  background: #4c2d79;
}
p{
    font-size: 16px;
}
.row-centered{
  align-items: center;
}
i{
  color:#673AB7;
  cursor:pointer;
  &.star{
    font-size:25px;
  }
  &.carat{
    font-size:25px;
    margin-left:5px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  margin:15px;
  min-height: 75px;
  cursor: pointer;
}
.card-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin:15px;
  height:100%;
  padding-top:25px;
  padding-bottom:25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.filter-checkbox{
  margin:5px;
}
.application-toggle{
  cursor:pointer;
}