
.mat-form-field{
      width:100%;
}

.mat-slider-horizontal{
  width:100%;
}

.mat-slider-thumb-label-text{
  color:white !important;
}

.container{
  margin-bottom:25px;
}

body{
  height:100vh;
  background:#4c2d79
}

h1, h2, h3, h5, h6{
  display:inline;
 color:#ffffff;
}

h4{
  text-decoration: underline;
   display:inline;
  color:#ffffff;
}

.row-centered{
  align-items: center;
}

i{
  color:#ffffff;
  cursor:pointer;
  &.bookmark{
    font-size:50px;
  }
  &.carat{
    font-size:35px;
    margin-left:5px;
  }
}

.card {
  padding:25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  min-height: 75px;
  cursor: pointer;
  margin-top:7px;
  margin-bottom:15px;
}

.filter-card {
  background:#ffffff;
  padding-bottom:15px;
  padding-top:15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top:15px;
  margin-bottom:15px;
  border-radius: .25rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header-text{
  text-decoration: underline;
}

.bound-text{
  font-weight: 700;
}

.sort-container{
  cursor:pointer;
  color:white;
  padding:4px;
  margin-bottom:15px;
  margin-top:15px;
}

.beta-tag{
  display:inline;
  color:white;
  font-size: 10px;
}
.relative-container {
  position: relative;
  height: auto;
}