<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Apps</h1><span>...beta</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div style=" height:50px;" class="col-8">
      <div class="row">
        <div class="col-12 col-lg-4"></div>
        <div class="col-12 col-lg-2"></div>
        <div style="cursor:pointer;" (click)="stateManagement.sortByExperience()"
          class="col-12 col-lg-3 application-toggle">
          <span>Experience</span>
          <i *ngIf="!stateManagement.sortedByExpAscending" class="carat fas fa-sort-up"></i>
          <i *ngIf="stateManagement.sortedByExpAscending" class="carat fas fa-sort-down"></i>
        </div>
        <div style="cursor:pointer;" (click)="stateManagement.sortByDate()" class="col-12 col-lg-3">
          <span>Date</span>
          <i *ngIf="!stateManagement.sortedByDateAscending" class="carat fas fa-sort-up"></i>
          <i *ngIf="stateManagement.sortedByDateAscending" class="carat fas fa-sort-down"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="row">
        <div class="col-11 col-lg-11 card-container">
          <div class="row">
            <div class="col-12">
              <mat-slide-toggle (change)="filterBookmarkedApplications()">Bookmarked</mat-slide-toggle>
            </div>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-12">
              <mat-slide-toggle (change)="stateManagement.toggleDayRadioGroup()">Filter by Day
              </mat-slide-toggle>
            </div>
            <div *ngIf="stateManagement.sortByDay" class="col-12">
              <mat-radio-group (change)="stateManagement.applyFilters()" [(ngModel)]="stateManagement.day"
                aria-label="Select an option">
                <div class="row">
                  <div class="col-12">
                    <mat-radio-button value="M">Mon</mat-radio-button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-radio-button value="T">Tues</mat-radio-button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-radio-button value="W">Wed</mat-radio-button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-radio-button value="Th">Thurs</mat-radio-button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-radio-button value="F">Fri</mat-radio-button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-radio-button value="S">Sat</mat-radio-button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-radio-button value="Su">Sun</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="stateManagement.day" class="row">
            <div class="col-12">
              <span>Hours Wanted</span>
              <mat-slider (change)="stateManagement.applyFilters()" [(ngModel)]="stateManagement.hoursWanted" thumbLabel
                [displayWith]="formatLabel" tickInterval="1" min="0" max="8"></mat-slider>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span>Experience</span>
              <mat-slider (change)="stateManagement.applyFilters()" [(ngModel)]="stateManagement.experience" thumbLabel
                [displayWith]="formatLabel" tickInterval="1" min="0" max="8"></mat-slider>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Filter by Name</mat-label>
                <input (keyup)="stateManagement.applyFilters()" [(ngModel)]=" stateManagement.name" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Filter by Position</mat-label>
                <mat-select (selectionChange)="stateManagement.applyFilters()"
                  [(ngModel)]="stateManagement.selectedPosition">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let position of stateManagement.positions" [value]="position">{{position}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="row row-centered" *ngFor="let application of stateManagement.data">
        <div (click)="stateManagement.viewApplication(application)" class="card col-8">
          <div style="margin-top:22px" class="row">
            <div class="col-12">
              <div class="row">
                <p class="col-12 col-lg-4">Name</p>
                <p class="col-12 col-lg-2">Position</p>
                <p class="col-12 col-lg-3">Experience</p>
                <p class="col-12 col-lg-3">Applied</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-4">{{application.name}}</p>
                <p class="col-12 col-lg-2">{{application.position}}</p>
                <p class="col-12 col-lg-3">{{application.experience}}</p>
                <p class="col-12 col-lg-3">{{application.applied}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <i *ngIf="!application.bookmarked" class="star far fa-star"
            (click)="stateManagement.bookmarkApplication(application)"></i>
          <i *ngIf="application.bookmarked" class="star fas fa-star"
            (click)="stateManagement.bookmarkApplication(application)"></i>
        </div>
      </div>
    </div>
  </div>
</div>